{% extends 'toolsbase.html' %}

{% block title %}
Administrator Tools
{% endblock %}

{% block navigation %}
<li class="active"><a href="/admintools">Home</a></li>
<li><a href="/admintools/datagenerate">Data Generate</a></li>
<li><a href="/admintools/dataimport">Data Import</a></li>
{% endblock %}

{% block content %}
<style type="text/css">
	.table-hideoverflow {
		table-layout:fixed;
	}
	.table-hideoverflow td {
		max-width:200px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	.table-hideoverflow-sm {
		table-layout:fixed;
	}
	.table-hideoverflow-sm td {
		max-width:100px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	.btn-margin {
		margin-bottom: 30px;
	}
</style>
<p> HEEEEYYYYY </p>
<div class="row">
	<div class="col-xs-offset-1 col-xs-10 col-sm-offset-3 col-sm-6 col-md-offset-4 col-md-4">
		<button type="button" class="btn btn-primary btn-lg btn-margin"
		id="students">Students</button>
		<button type="button" class="btn btn-default btn-lg pull-right btn-margin"
		id="teachers">Teachers</button>
	</div>
</div>
<div class="" id="changeable">
	<table class="table table-hover">
		<thead>
			<tr>
				<th>ID</th>
				<th>Name</th>
				<th>Email</th>
				<th>Date of Birth</th>
				<th>Address</th>
				<th>Phone</th>
				<th>Level</th>
				<th>Current Schedule</th>
				<th>Past Schedules</th>
			</tr>
		</thead>
		<tbody id="table">
		</tbody>
	</table>
</div>
<div class="row">
	<div class="col-xs-offset-1 col-xs-10">
		<button type="button" class="btn btn-default btn-block btn-margin"
		data-toggle="modal" data-target="#modify" id="newentry">New Entry</button>
	</div>
</div>
<div class="modal fade" id="modify" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title" id="title">Modify Data for </h4>
			</div>
			<div class="modal-body">
				<form class="form-horizontal" role="form">
					<input class="form-control" id="category" name="category" type="hidden">
					<div class="form-group">
						<label for="id" class="col-lg-4 control-label">ID</label>
						<div class="col-lg-8" data-toggle="tooltip" title="Please select a value for the ID.">
							<input class="form-control" id="id" name="id" type="hidden">
						</div>
					</div>
					<div class="form-group">
						<label for="name" class="col-lg-4 control-label">Name</label>
						<div class="col-lg-8">
							<input class="form-control" id="name" name="name" type="text">
						</div>
					</div>
					<div class="form-group">
						<label for="email" class="col-lg-4 control-label">Email</label>
						<div class="col-lg-8">
							<input class="form-control" id="email" name="email" type="text">
						</div>
					</div>
					<div class="form-group">
						<label for="dob" class="col-lg-4 control-label">Date of Birth</label>
						<div class="col-lg-8">
							<input class="form-control" id="dob" name="dob" type="text">
						</div>
					</div>
					<div class="form-group">
						<label for="address" class="col-lg-4 control-label">Address</label>
						<div class="col-lg-8">
							<input class="form-control" id="address" name="address" type="text">
						</div>
					</div>
					<div class="form-group">
						<label for="phone" class="col-lg-4 control-label">Phone</label>
						<div class="col-lg-8">
							<input class="form-control" id="phone" name="phone" type="text">
						</div>
					</div>
					<div class="form-group">
						<label for="level" class="col-lg-4 control-label">Level</label>
						<div class="col-lg-8">
							<input class="form-control" id="level" name="level" type="text">
						</div>
					</div>
					<div class="form-group">
						<label for="cursched" class="col-lg-4 control-label">Current Schedule</label>
						<div class="col-lg-8">
							<input class="form-control" id="cursched" name="cursched" type="text">
						</div>
					</div>
					<div class="form-group">
						<label for="pastscheds" class="col-lg-4 control-label">Past Schedules</label>
						<div class="col-lg-8">
							<input class="form-control" id="pastscheds" name="pastscheds" type="text">
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default"
				data-dismiss="modal" id="save">Save Changes</button>
				<button type="button" class="btn btn-default"
				data-dismiss="modal" id="del">Delete Entry</button>
				<button type="button" class="btn btn-default"
				data-dismiss="modal">Cancel</button>
			</div>
		</div>

	</div>
</div>

<script src="http://absurdjs.com/builds/absurd.organic.js"></script>
<script src="http://absurdjs.com/builds/absurd.js"></script>
<script type="text/javascript">
	changeable = $('#changeable'),
	students = $('#students'),
	teachers = $('#teachers'),
	currentTable = 'Students',
	table = document.getElementById('table'),
	title = document.getElementById('title'),
	category = document.getElementById('category'),
	id = document.getElementById('id'),
	idDiv = $(id.parentNode),
	idGroup = $(id.parentNode.parentNode),
	hasIdError = false;
	name1 = document.getElementById('name'),
	email = document.getElementById('email'),
	dob = document.getElementById('dob'),
	address = document.getElementById('address'),
	phone = document.getElementById('phone'),
	level = document.getElementById('level'),
	cursched = document.getElementById('cursched'),
	pastscheds = document.getElementById('pastscheds'),
	save = $('#save'),
	del = $('#del'),
	newentry = $('#newentry');

	function determineTableClass() {
		// if window is now considered md or lg in bootstrap
		if (window.innerWidth >= 992) {
			changeable.removeClass('table-responsive');
			changeable.removeClass('table-hideoverflow-sm');
			changeable.addClass('table-hideoverflow');
		}
		// if window is now considered sm in bootstrap
		else if (window.innerWidth >= 768) {
			changeable.removeClass('table-responsive');
			changeable.removeClass('table-hideoverflow');
			changeable.addClass('table-hideoverflow-sm');
		}
		// if window is now considered xs in bootstrap
		else {
			changeable.removeClass('table-hideoverflow');
			changeable.removeClass('table-hideoverflow-sm');
			changeable.addClass('table-responsive');
		}
	}
	determineTableClass();
	window.onresize = determineTableClass;

	students.click(function() {
		if (currentTable == 'Teachers') {
			teachers.removeClass('btn-primary').addClass('btn-default');
			students.removeClass('btn-default').addClass('btn-primary');
			getTable('students');
			currentTable = 'Students';
		}
	});
	getTable('students');

	teachers.click(function() {
		if (currentTable == 'Students') {
			students.removeClass('btn-primary').addClass('btn-default');
			teachers.removeClass('btn-default').addClass('btn-primary');
			getTable('teachers');
			currentTable = 'Teachers';
		}
	});

	function valueOrSpace(text) {
		if (text == null) {
			return ' ';
		}
		else {
			return text;
		}
	}

	function getTable(tableCategory) {
		$.ajax({
			dataType: 'json',
			url: '/admintools/database',
			data: {'category': tableCategory},
			success: function(response) {
				table.innerHTML = '';
				$.each(response, function(key, val) {
					table.innerHTML += '<tr onclick="select(this)"' +
					'data-toggle="modal" data-target="#modify">' +
					'<td>' + val['id'] + '</td>' +
					'<td>' + valueOrSpace(val['name']) + '</td>' +
					'<td>' + valueOrSpace(val['email']) + '</td>' +
					'<td>' + valueOrSpace(val['dob']) + '</td>' +
					'<td>' + valueOrSpace(val['address']) + '</td>' +
					'<td>' + valueOrSpace(val['phone']) + '</td>' +
					'<td>' + valueOrSpace(val['level']) + '</td>' +
					'<td>' + valueOrSpace(val['cursched']) + '</td>' +
					'<td>' + valueOrSpace(val['pastscheds']) + '</td>' +
					'</tr>';
				});
			},
			error: function() {
				alert('ERROR: Could not connect to server.');
			}
		});
	}

	function blankOrValue(text) {
		if (text == ' ') {
			return '';
		}
		else {
			return text;
		}
	}

	function select(row) {
		del.show();
		save.removeClass('disabled');
		save.attr('data-dismiss', 'modal');
		category.value = currentTable.toLowerCase();
		id.value = row.cells[0].innerHTML;
		id.type = 'hidden';
		idGroup.hide();
		title.innerHTML =
		'Data for ' + currentTable.slice(0, -1) + ' ' + id.value;
		name1.value = blankOrValue(row.cells[1].innerHTML);
		email.value = blankOrValue(row.cells[2].innerHTML);
		dob.value = blankOrValue(row.cells[3].innerHTML);
		address.value = blankOrValue(row.cells[4].innerHTML);
		phone.value = blankOrValue(row.cells[5].innerHTML);
		level.value = blankOrValue(row.cells[6].innerHTML);
		cursched.value = blankOrValue(row.cells[7].innerHTML);
		pastscheds.value = blankOrValue(row.cells[8].innerHTML);
	}

	save.click(function() {
		if (!save.hasClass('disabled')) {
			$.ajax({
				type: 'POST',
				url: '/admintools/modify',
				data: $('form').serialize() + '&action=update',
				success: function(response) {
					getTable(currentTable.toLowerCase());
				},
				error: function() {
					alert('ERROR: Could not connect to server.');
				}
			});
		}
	});

	del.click(function() {
		$.ajax({
			type: 'POST',
			url: '/admintools/modify',
			data: $('form').serialize() + '&action=delete',
			success: function(response) {
				getTable(currentTable.toLowerCase());
			},
			error: function() {
				alert('ERROR: Could not connect to server.');
			}
		});
	});

	$(id).on('input', function() {
		if (this.value == '') {
			if (!hasIdError) {
				idGroup.addClass('has-error has-feedback');
				idDiv.append(
					'<span class="glyphicon glyphicon-remove form-control-feedback"></span>'
					);
				idDiv.tooltip('enable');
				hasIdError = true;
				save.addClass('disabled');
				save.removeAttr('data-dismiss');
			}
		}
		else {
			if (hasIdError) {
				idGroup.removeClass('has-error has-feedback');
				idDiv.find('.glyphicon').remove();
				idDiv.tooltip('disable');
				hasIdError = false;
			}
			save.removeClass('disabled');
			save.attr('data-dismiss', 'modal');
		}
	});

	newentry.click(function() {
		title.innerHTML = 'Data for New ' + currentTable.slice(0, -1)
		del.hide();
		save.addClass('disabled');
		save.removeAttr('data-dismiss');
		category.value = currentTable.toLowerCase();
		id.type = 'text';
		id.value = '';
		idGroup.show();
	});
</script>
{% endblock %}
