{% extends 'toolsbase.html' %}

{% block title %}
Administrator Tools
{% endblock %}

{% block navigation %}
<li><a href="/admintools">Home</a></li>
<li class="active"><a href="/admintools/datagenerate">Data Generate</a></li>
<li><a href="/admintools/dataimport">Data Import</a></li>
{% endblock %}

{% block content %}
<p>
	This tool allows you to generate random data for testing the various functions of Administrator Tools.
	Every data file will include a column for names, and several other columns may be added.
	Deleting random entries will result any cell of an optional column having a certain probability of being empty
	(similarly to how real databases often have missing information).
</p>
<form class="form-horizontal" role="form">
	<div class="form-group">
		<label for="filetype" class="col-sm-3 col-md-4 control-label">Filetype</label>
		<div class="col-sm-9 col-md-5">
			<select id="filetype" class="form-control" name="filetype">
				<option>CSV</option>
			</select>
		</div>
	</div>
	<div class="form-group" id="numPeopleGroup">
		<label for="numPeople" class="col-sm-3 col-md-4 control-label">Number of People</label>
		<div class="col-sm-9 col-md-5" id="numPeopleDiv">
			<input class="form-control" id="numPeople" name="numPeople" data-toggle="tooltip"
			title="Please use a positive integer no greater than 10000."
			type="number" min="0" max="10000" step="1000" value="3000">
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-3 col-md-4 control-label">Optional Data</label>
		<div class="col-sm-9 col-md-6">
			<label class="checkbox-inline"><input type="checkbox" name="id">ID</label>
			<label class="checkbox-inline"><input type="checkbox" name="grade">Grade</label>
			<label class="checkbox-inline"><input type="checkbox" name="email">Email</label>
			<label class="checkbox-inline"><input type="checkbox" name="phone">Phone</label>
			<label class="checkbox-inline"><input type="checkbox" name="address">Address</label>
			<label class="checkbox-inline"><input type="checkbox" name="dob">Date of Birth</label>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-3 col-md-4 control-label">Delete Random Entries</label>
		<div class="col-sm-1 col-md-1">
			<div class="radio">
				<label><input type="radio" name="delEntries" id="yes" value="yes">Yes</label>
			</div>
			<div class="radio">
				<label><input type="radio" name="delEntries" id="no" value="no" checked>No</label>
			</div>
		</div>
		<div class="col-sm-8 col-md-4 collapse" id="delEntries">
			<input class="form-control" type="range" name="prob" id="prob"
			min="0" max="1" value="0" step="0.01">
			<span class="col-sm-12 text-center" id="probSpan">0% Probability of Deletion</span>
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-offset-3 col-sm-9 col-md-offset-4 col-md-3">
			<button type="button" class="btn btn-default" id="create">Create</button>
		</div>
	</div>
</form>

<script type="text/javascript">
	yes = document.getElementById('yes'),
	no = document.getElementById('no'),
	delEntries = $(document.getElementById('delEntries')),
	prob = document.getElementById('prob'),
	probSpan = document.getElementById('probSpan'),
	numPeople = document.getElementById('numPeople'),
	numPeopleDiv = $(numPeople.parentNode),
	numPeopleGroup = $(numPeople.parentNode.parentNode),
	create = document.getElementById('create'),
	hasError = false;

	$(yes).on('change', function() {
		if (this.checked) {
			delEntries.collapse('show');
			no.disabled = true;
			delEntries.on('shown.bs.collapse', function() {
				no.disabled = false;
			});
		}
	});

	// for when the page is loaded with 'yes' already selected
	if (yes.checked) {
		delEntries.collapse('show');
		no.disabled = true;
		delEntries.on('shown.bs.collapse', function() {
			no.disabled = false;
		});
	}

	$(no).on('change', function() {
		if (this.checked) {
			delEntries.collapse('hide');
			yes.disabled = true;
			delEntries.on('hidden.bs.collapse', function() {
				yes.disabled = false;
			});
		}
	});

	$(prob).on('input', function() {
		probSpan.innerHTML = parseInt(100 * prob.value) + '% Probability of Deletion';
	});

	$(numPeople).on('input', function() {
		var n = numPeople.value
		// check if n is not a non-negative integer, greater than numPeople.max, or equal to 0
		if (
			n >>> 0 !== parseFloat(n) ||
			parseInt(n) > parseInt(numPeople.max) ||
			parseInt(n) == 0
			) {
			if (!hasError) {
				numPeopleGroup.addClass('has-error has-feedback');
				numPeopleDiv.append(
					'<span class="glyphicon glyphicon-remove form-control-feedback"></span>'
					);
				$(numPeople).tooltip('enable');
				create.disabled = true;
				hasError = true;
			}
		}
		else if (hasError) {
			numPeopleGroup.removeClass('has-error has-feedback');
			numPeopleDiv.find('.glyphicon').remove();
			$(numPeople).tooltip('disable');
			create.disabled = false;
			hasError = false;
		}
	});

	$(create).click(function() {
		window.location = '/download?' + $('form').serialize();
	});
</script>
{% endblock %}
