{% extends 'toolsbase.html' %}

{% block title %}
Administrator Tools
{% endblock %}

{% block navigation %}
<li><a href="/admintools">Home</a></li>
<li><a href="/admintools/datagenerate">Data Generate</a></li>
<li class="active"><a href="/admintools/dataimport">Data Import</a></li>
{% endblock %}

{% block content %}
<style type="text/css">
	.btn-file {
		position: relative;
		overflow: hidden;
	}
	.btn-file input[type=file] {
		position: absolute;
		top: 0;
		right: 0;
		min-width: 100%;
		min-height: 100%;
		font-size: 100px;
		text-align: right;
		filter: alpha(opacity=0);
		opacity: 0;
		background: white;
		cursor: inherit;
		display: block;
	}
	input[readonly] {
		background-color: white !important;
		cursor: text !important;
	}
	.alert-sm {
		padding: 6px 14px 6px 14px;
		margin-bottom: 0px;
	}
</style>
<p>
	Upload a <a href="https://en.wikipedia.org/wiki/Comma-separated_values"><abbr title="Comma-Separated Values">CSV</abbr></a> file containing account data for either students or teachers. This file <i>must</i> contain a column for IDs. Both student IDs and teacher IDs must be unique, so if an ID is already present in the database, the old entry will be overwritten.
</p>
<p>
	The columns in the csv can be arranged in any order, and this order should be specified below. The csv need not contain a header, since the database already has its own column names for student and teacher data. While it is suggested that the data in each column closely match the title listed below, the system will accept any data as long as it is in valid csv format. For instance, if the uploaded data is for students, the "Level" column may be used to store "9", "10", "11", or "12", or it may be used for "Freshman", "Sophomore", "Junior", or "Senior".
</p>
<form class="form-horizontal" role="form" id="form" enctype="multipart/form-data">
	<div class="form-group" id="fileGroup">
		<label class="col-sm-3 col-md-4 control-label">Upload File</label>
		<div class="col-sm-9 col-md-5" id="fileDiv" data-toggle="tooltip"
		title="Please upload a '.csv' file.">
			<div class="input-group">
				<span class="input-group-btn">
					<span class="btn btn-default btn-file">
						Browse&hellip; <input type="file" id="file" name="file" accept=".csv">
					</span>
				</span>
				<input type="text" class="form-control" id="fileAddon" readonly>
			</div>
		</div>
	</div>
	<div class="form-group">
		<label for="category" class="col-sm-3 col-md-4 control-label">Data Category</label>
		<div class="col-sm-9 col-md-5">
			<select id="category" class="form-control" name="category">
				<option value="students">Students</option>
				<option value="teachers">Teachers</option>
			</select>
		</div>
	</div>
	<div class="form-group">
		<label for="numColumns" class="col-sm-3 col-md-4 control-label">Number of Columns</label>
		<div class="col-sm-9 col-md-5">
			<input class="form-control" id="numColumns" name="numColumns" data-toggle="tooltip"
			title="Please use a positive integer less than 1000."
			type="number" min="1" max="1000" step="1" value="1">
		</div>
	</div>
	<div class="form-group" id="selectsGroup">
		<label class="col-sm-3 col-md-4 control-label">Column Order</label>
		<div class="col-sm-2 control-label">ID</div>
		<div class="col-sm-7 col-md-3">
			<select class="form-control column-select" name="id"
			data-toggle="tooltip" title="Please do not use the same column more than once.">
				<option>1</option>
			</select>
		</div>
		<div class="col-sm-offset-3 col-sm-2 col-md-offset-4 control-label">First Name</div>
		<div class="col-sm-7 col-md-3">
			<select class="form-control column-select" name="fname"
			data-toggle="tooltip" title="Please do not use the same column more than once.">
				<option></option>
				<option>1</option>
			</select>
		</div>
		<div class="col-sm-offset-3 col-sm-2 col-md-offset-4 control-label">Last Name</div>
		<div class="col-sm-7 col-md-3">
			<select class="form-control column-select" name="lname"
			data-toggle="tooltip" title="Please do not use the same column more than once.">
				<option></option>
				<option>1</option>
			</select>
		</div>
		<div class="col-sm-offset-3 col-sm-2 col-md-offset-4 control-label">Full Name</div>
		<div class="col-sm-7 col-md-3">
			<select class="form-control column-select" name="name"
			data-toggle="tooltip" title="Please do not use the same column more than once.">
				<option></option>
				<option>1</option>
			</select>
		</div>
		<div class="col-sm-offset-3 col-sm-2 col-md-offset-4 control-label">Level</div>
		<div class="col-sm-7 col-md-3">
			<select class="form-control column-select" name="level"
			data-toggle="tooltip" title="Please do not use the same column more than once.">
				<option></option>
				<option>1</option>
			</select>
		</div>
		<div class="col-sm-offset-3 col-sm-2 col-md-offset-4 control-label">Email</div>
		<div class="col-sm-7 col-md-3">
			<select class="form-control column-select" name="email"
			data-toggle="tooltip" title="Please do not use the same column more than once.">
				<option></option>
				<option>1</option>
			</select>
		</div>
		<div class="col-sm-offset-3 col-sm-2 col-md-offset-4 control-label">Date of Birth</div>
		<div class="col-sm-7 col-md-3">
			<select class="form-control column-select" name="dob"
			data-toggle="tooltip" title="Please do not use the same column more than once.">
				<option></option>
				<option>1</option>
			</select>
		</div>
		<div class="col-sm-offset-3 col-sm-2 col-md-offset-4 control-label">Address</div>
		<div class="col-sm-7 col-md-3">
			<select class="form-control column-select" name="address"
			data-toggle="tooltip" title="Please do not use the same column more than once.">
				<option></option>
				<option>1</option>
			</select>
		</div>
		<div class="col-sm-offset-3 col-sm-2 col-md-offset-4 control-label">Phone</div>
		<div class="col-sm-7 col-md-3">
			<select class="form-control column-select" name="phone"
			data-toggle="tooltip" title="Please do not use the same column more than once.">
				<option></option>
				<option>1</option>
			</select>
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-offset-3 col-sm-3 col-md-offset-4 col-md-1">
			<input type="submit" class="btn btn-default" id="submit" disabled>
		</div>
		<div class="col-sm-6 col-md-4" id="submissionInfo">
		</div>
	</div>
</form>

<script src="http://malsup.github.com/jquery.form.js"></script>
<script type="text/javascript">
	form = document.getElementById('form'),
	file = document.getElementById('file'),
	fileAddon = document.getElementById('fileAddon'),
	fileDiv = $('#fileDiv'),
	fileGroup = $('#fileGroup'),
	numColumns = document.getElementById('numColumns'),
	numColumnsDiv = $(numColumns.parentNode),
	numColumnsGroup = $(numColumns.parentNode.parentNode),
	selects = $('select.column-select'),
	selectsGroup = $('#selectsGroup'),
	submit = document.getElementById('submit'),
	submissionInfo = $('#submissionInfo'),
	hasFileError = true,
	hasNumberError = false,
	numSelectErrors = 0,
	selectsPerColumn = {1:['id']},
	columnPerSelect = {'id':1};

	$(file).on('change', function() {
		fileAddon.value = file.value.replace(/\\/g, '/').replace(/.*\//, '');
		if (fileAddon.value.match(/\.[0-9a-z]+$/i) != '.csv') {
			if (!hasFileError) {
				fileGroup.addClass('has-error has-feedback');
				fileDiv.append(
					'<span class="glyphicon glyphicon-remove form-control-feedback"></span>'
					);
				fileDiv.tooltip('enable');
				submit.disabled = true;
				hasFileError = true;
			}
		}
		else {
			if (hasFileError) {
				fileGroup.removeClass('has-error has-feedback');
				fileDiv.find('.glyphicon').remove();
				fileDiv.tooltip('disable');
				hasFileError = false;
			}
			if (!hasNumberError && numSelectErrors == 0) {
				submit.disabled = false;
			}
		}
	});

	$(numColumns).on('input', function() {
		var n = numColumns.value
		// check if n is not a non-negative integer, greater than numColumns.max, or equal to 0
		if (
			n >>> 0 !== parseFloat(n) ||
			parseInt(n) > parseInt(numColumns.max) ||
			parseInt(n) == 0
			) {
			if (!hasNumberError) {
				numColumnsGroup.addClass('has-error has-feedback');
				numColumnsDiv.append(
					'<span class="glyphicon glyphicon-remove form-control-feedback"></span>'
					);
				$(numColumns).tooltip('enable');
				submit.disabled = true;
				hasNumberError = true;
			}
		}
		else {
			if (hasNumberError) {
				numColumnsGroup.removeClass('has-error has-feedback');
				numColumnsDiv.find('.glyphicon').remove();
				$(numColumns).tooltip('disable');
				hasNumberError = false;
			}
			selects.empty();
			for (var listKey in selectsPerColumn) {
				if (selectsPerColumn[listKey].length > 1) {
					var list = selectsPerColumn[listKey];
					for (var i = 0; i < list.length; i++) {
						removeSelectError(document.getElementsByName(list[i])[0]);
					}
				}
			}
			selectsGroup.removeClass('has-error has-feedback');
			selectsPerColumn = {1:['id']};
			columnPerSelect = {'id':1};
			selects.not(document.getElementsByName('id')[0]).append('<option></option>');
			for (var i = 1; i <= parseInt(n); i++) {
				selects.append('<option>' + i + '</option>');
			}
			if (!hasFileError) {
				submit.disabled = false;
			}
		}
	});

	function addSelectError(select) {
		$(select).parent().append(
			'<span class="glyphicon glyphicon-remove form-control-feedback"></span>'
			);
		$(select).tooltip('enable');
		numSelectErrors++;
	}

	function removeSelectError(select) {
		$(select).parent().find('.glyphicon').remove();
		$(select).tooltip('disable');
		numSelectErrors--;
	}

	function checkIfNoMoreSelectErrors() {
		if (numSelectErrors == 0) {
			selectsGroup.removeClass('has-error has-feedback');
			if (!hasFileError && !hasNumberError) {
				submit.disabled = false;
			}
		}
	}

	selects.on('change', function() {
		var wasError = false;
		var list;
		// if this select previously had a value
		if (this.getAttribute('name') in columnPerSelect) {
			list = selectsPerColumn[columnPerSelect[this.getAttribute('name')]];
			list.splice(list.indexOf(this.getAttribute('name')), 1);
			// if this select previously had an erroneous value
			if (list.length > 0) {
				wasError = true;
				// if there were previously only two items in this list
				if (list.length == 1) {
					removeSelectError(document.getElementsByName(list[0])[0]);
				}
			}
			else {
				delete selectsPerColumn[columnPerSelect[this.getAttribute('name')]];
			}
		}
		// if this select now does not have a value
		if (this.value == '') {
			delete columnPerSelect[this.getAttribute('name')];
			if (wasError) {
				removeSelectError(this);
				checkIfNoMoreSelectErrors();
			}
		}
		else {
			columnPerSelect[this.getAttribute('name')] = this.value;
			// if there was already a select with this column value
			if (this.value in selectsPerColumn) {
				list = selectsPerColumn[this.value];
				// if there was only one other select with this value
				if (list.length == 1) {
					addSelectError(document.getElementsByName(list[0])[0]);
					// if this is the first error on the page
					if (numSelectErrors == 1) {
						selectsGroup.addClass('has-error has-feedback');
						submit.disabled = true;
					}
				}
				list.push(this.getAttribute('name'));
				if (!wasError) {
					addSelectError(this);
				}
			}
			else {
				selectsPerColumn[this.value] = [this.getAttribute('name')];
				if (wasError) {
					removeSelectError(this);
					checkIfNoMoreSelectErrors();
				}
			}
		}
	});

	var options = {
		url: '/upload',
		type: 'POST',
		beforeSubmit: function() {
			submissionInfo.find('#message').remove();
			submissionInfo.append(
				'<img src="{{ url_for("static", filename="img/loading.gif") }}" \
				alt="Uploading" class="img-responsive col-sm-2" id="loading"></img>'
				);
		},
		success: function() {
			submissionInfo.find('#loading').remove();
			submissionInfo.append(
				'<div class="alert alert-success alert-sm fade in" id="message"> \
					<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a> \
					Data successfully uploaded. \
				</div>'
				);
		}
		error: function() {
			alert('ERROR: Could not connect to server.');
		}
	};

	$(form).ajaxForm(options);
</script>
{% endblock %}
