{% extends 'adminbase.html' %}

{% block content %}
<p>
	This tool allows you to generate random data for testing the various functions of Administrator Tools.
	Every data file will include a column for names, and several other columns may be added.
	Deleting random entries will result any cell of an optional column having a certain probability of being empty
	(similarly to how real databases often have missing information).
</p>
<form class="form-horizontal" role="form">
	<div class="form-group">
		<label for="filetype" class="col-sm-3 col-md-4 control-label">Filetype</label>
		<div class="col-sm-9 col-md-5">
			<select id="filetype" class="form-control">
				<option>CSV</option>
				<option>XLS</option>
			</select>
		</div>
	</div>
	<div class="form-group" id="numStudentsGroup">
		<label for="numStudents" class="col-sm-3 col-md-4 control-label">Number of People</label>
		<div class="col-sm-9 col-md-5" id="numStudentsCont">
			<input class="form-control" id="numStudents" data-toggle="tooltip"
			title="Please use a positive integer less than 100000."
			type="number" min="0" max="100000" step="1000" value="3000">
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-3 col-md-4 control-label">Optional Data</label>
		<div class="col-sm-9 col-md-6">
			<label class="checkbox-inline"><input type="checkbox">ID</label>
			<label class="checkbox-inline"><input type="checkbox">Grade</label>
			<label class="checkbox-inline"><input type="checkbox">Email</label>
			<label class="checkbox-inline"><input type="checkbox">Phone</label>
			<label class="checkbox-inline"><input type="checkbox">Address</label>
			<label class="checkbox-inline"><input type="checkbox">Date of Birth</label>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-3 col-md-4 control-label">Delete Random Entries</label>
		<div class="col-sm-1 col-md-1">
			<div class="radio">
				<label><input type="radio" name="delEnt" id="yes">Yes</label>
			</div>
			<div class="radio">
				<label><input type="radio" name="delEnt" id="no" checked>No</label>
			</div>
		</div>
		<div class="col-sm-8 col-md-4 collapse" id="delEnt">
			<input class="form-control" type="range" id="prob" min="0" max="1" value="0" step="0.01">
			<span class="col-sm-12 text-center" id="probAddon">0% Probability of Deletion</span>
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-offset-3 col-sm-9 col-md-offset-4 col-md-3">
			<button type="submit" class="btn btn-default" id="submit">Create</button>
		</div>
	</div>
</form>

<script type="text/javascript">
	var yes = document.getElementById('yes');
	var no = document.getElementById('no');
	var delEnt = $(document.getElementById('delEnt'));
	var prob = document.getElementById('prob');
	var probAddon = document.getElementById('probAddon');
	var numStudents = document.getElementById('numStudents');
	var numStudentsGroup = $(document.getElementById('numStudentsGroup'));
	var numStudentsCont = $(document.getElementById('numStudentsCont'));
	var submit = document.getElementById('submit');

	$(yes).on('change', function() {
		if (this.checked) {
			delEnt.collapse('show');
			no.disabled = true;
			delEnt.on('shown.bs.collapse', function() {
				no.disabled = false;
			});
		}
	});

	$(no).on('change', function() {
		if (this.checked) {
			delEnt.collapse('hide');
			yes.disabled = true;
			delEnt.on('hidden.bs.collapse', function() {
				yes.disabled = false;
			});
		}
	});

	$(prob).on('input', function() {
		probAddon.innerHTML = parseInt(100 * prob.value) + '% Probability of Deletion';
	});

	var hasError = false;
	$(numStudents).on('input', function() {
		n = numStudents.value
		if (n >>> 0 !== parseFloat(n) || parseInt(n) > parseInt(numStudents.max) || parseInt(n) == 0) {
			if (!hasError) {
				numStudentsGroup.addClass('has-error has-feedback');
				numStudentsCont.append(
					'<span class="glyphicon glyphicon-remove form-control-feedback"></span>'
					);
				$(numStudents).tooltip('enable');
				submit.disabled = true;
				hasError = true;
			}
		}
		else if (hasError) {
			numStudentsGroup.removeClass('has-error has-feedback');
			numStudentsCont.find('span').remove();
			$(numStudents).tooltip('disable');
			submit.disabled = false;
			hasError = false;
		}
	});
</script>
{% endblock %}
